html {
    background-color: rgb(32, 1, 88);
}

div {
    text-align: center;
}

p {
    text-align: center;
    color: rgb(255, 222, 227);
    font-family:Arial, Helvetica, sans-serif;
    font-size: 15px;
    border: 5px;
}

img {
    border: 5px;
    border-radius: 20px;
}

a {
    padding: 20px;
    color: rgb(255, 255, 96);
}